<h1>Liste des utilisateurs</h1>
<form method="get" name="formulaire" action="{{ url('gamers.new') }}">
  <button type="submit">Retour</button>
</form>
<table>
<thead>
  <tr>
    <th>ID</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>gamerID </th>
  </tr>
</thead>
<tbdoy>
   <tr>
   {% for user in users %}
     <td>{{user.id}}</td>
     <td>{{user.nom}}</td>
     <td>{{user.prenom}}</td>
     <td>{{user.gamerID}}</td>
   </tr>
{% endfor %}
</tbdoy>
</table>
