<h2>Formulaire</h2>

{% if gamer is defined %}
<form method="post" name="formulaire" action="{{ url('gamers.save', {id: gamer.id}) }}">

    <input type="hidden" name="id" value={{gamer.id}} />

    <label for="name">pseudo : </label>
    <input type="text" name="pseudo" value={{gamer.pseudo}} />

    <label for="name">team : </label>
    <input type="text" name="team" value={{gamer.team}}  />
    {% else %}
<form method="post" name="formulaire" action="{{ url('gamers.save') }}">
    <label for="name">pseudo : </label>
    <input type="text" name="pseudo" />

    <label for="name">team : </label>
    <input type="text" name="team" />
    {% endif %}

    <button type="submit">Envoyer</button>

</form>
